<!-- <p *ngFor="let movies of favMovies">
fav-movies works!
</p> -->


<h1>Favorite Movies</h1>

<div class="container">
  <ng-container *ngFor="let movie of favMovies">
    <h2>{{movie | json}}</h2>
  </ng-container>
</div>


<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>














